.nav a {
  color: #00CED1;
  font-size: 20px;
  padding: 14px 10px;
  font-family: sans-serif;

}

.nav container {
height: auto;
}


.nav li {
  display: inline;
}

.pull-left {
  text-align: left;
}

.pull-right {
  text-align: right;
}

.jumbotron {
  background-image:url('../assets/yogi.jpeg');
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;

}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 60px;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
  padding-left: 20px;
}

.jumbotron p {
  font-size: 20px;
  padding-left: 60px;
  color: #fff;
  font-weight: bold;
  font-family: "Lucida Grande", serif;;
}

.body {
  background-image: url ("../assets/yogi.jpeg");
  background-repeat: repeat-y;
}
