.nav a {
  color: #808A87;
  font-size: 20px;
  padding: 20px 30px;
  font-family: sans-serif;
  text-decoration: none;
}

.nav container {
height: 20px;
}

.nav li {
  display: inline;
}

.pull-left {
  text-align: left;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #27408B;
  font-size: 60px;
  font-family: "Lucida Grande", sans-serif;
  font-weight: bold;
  padding-left: 20px;
}

.jumbotron p {
  font-size: 20px;
  padding-left: 60px;
  color: #27408B;
  font-weight: bold;
  font-family: "Lucida Grande", serif;;
}

body {
  /* background: url("whaleBold.png") repeat;*/
background-color: #E0FFFF;
background: url(whaleBold.png);
background-size: 35%;

}
